.card{
    width: 150px;
    float: left;
    margin: 5px 10px 40px;
    box-shadow: 5px 5px 20px;
    transition: all .2s ease-in-out; 
}

.card:hover {
    background-color: grey;
    /* width: 160px; */
    transform: scale(1.066);
    /* margin-bottom: 0px; */
    /* margin-right: 0px; */
    box-shadow: 10px 10px 20px;
}